---

extends:
  - fbjs

rules:
  # Consistency with internal config
  no-class-assign: off

  # This is very noisy, so disable
  consistent-return: off

  # Flow declares trip up the no-redeclare rule
  no-redeclare: off

  # Prettier and ESLint may disagree on the following rules
  indent: off
  array-bracket-spacing: off
  comma-dangle: off
  max-len: off
  space-before-function-paren: off
  flowtype/object-type-delimiter: off

  # Tests do not need to follow relay naming rules
  relay/graphql-naming: off

  # TODO T31139228: remove or re-enable these once eslint-plugin-flowtype
  # is compatible with babel-eslint >= 8
  no-undef: off
  no-unused-vars: off

  # This has a different name internally
  no-label-var: off

  # Relay uses console statements for debugging and compile feedback
  no-console:
    - warn
    - allow:
      - warn
      - error
      - debug
      - time
      - timeEnd
      - timeStamp
      - groupCollapsed
      - groupEnd
