.nvmrc
.yarnrc
node_modules
npm-debug.log
/compiler/target
/compiler/crates/*/target
/dist/
/lib/
/website/build
/website/src/relay/docs
/website/src/relay/graphql
/website/src/relay/prototyping
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
