---
language: node_js
install: true
cache: yarn

matrix:
  include:
  - node_js: '10'
    env: TEST=1
  - node_js: '8'
    env: TEST=1
  - node_js: '6'
    env: TEST=1
  - node_js: '10'
    env: TYPECHECK=1
  - node_js: '10'
    env: LINT=1

script:
- |
    if [ $TEST ]; then
      yarn install && yarn run jest -- --runInBand --no-watchman
    fi
- |
    if [ $TYPECHECK ]; then
      yarn install --ignore-scripts && yarn run typecheck
    fi
- |
    if [ $LINT ]; then
      yarn install --ignore-scripts && yarn run test-dependencies && yarn run lint
    fi

notifications:
  webhooks: https://code.facebook.com/travis/webhook/
