---
language: node_js
install: true

matrix:
  include:
  - node_js: '7'
    env: TEST=1
  - node_js: '6'
    env: TEST=1
  - node_js: '7'
    env: TYPECHECK=1
  - node_js: '7'
    env: LINT=1

script:
- |
    if [ $TEST ]; then
      npm install && npm run jest -- --runInBand --no-watchman
    fi
- |
    if [ $TYPECHECK ]; then
      npm install --ignore-scripts && npm run typecheck
    fi
- |
    if [ $LINT ]; then
      npm install --ignore-scripts && npm run lint
    fi
